<app-menu></app-menu>
<div class="container" *ngIf="!isLogged">
    <div class="row m-3">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                  Inicio de sesion
                </div>
                <div class="card-body">
                  <button class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()"> 
                    <i class="fab fa-google-plus"></i>Iniciar sesion con Google</button>
                </div>
              </div>
        </div>
    </div>
</div>