<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-3">
    <a class="navbar-brand" href="#">Login (only Utec Members)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class ="fas fa-home"></i>Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/program">
            <i class="fas fa-play"></i>Program</a>
        </li>
        
      </ul>

      <button class="btn btn-danger my-2 my-sm-0" type="submit" routerLink="/login">
        <i class="fas fa-sign-in-alt"></i>Iniciar Sesion</button>

    </div>
  </nav>